body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.top-bar {
  background-color: #ffff;
  color: black;
  padding: 10px 15px;
  /* Reduced padding to make the top bar smaller */
  text-align: center;
  font-size: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menu-icon {
  position: absolute;
  left: 15px;
  /* Adjusted to align with new top bar height */
  font-size: 24px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-grow: 1;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 70px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: grey;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.content-container {
  flex-grow: 1;
  margin-left: 10px;
  /* No margin by default since the sidebar is hidden */
  padding: 20px;
  transition: margin-left 0.3s ease;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.header div {
  background-color: #fff6e9;
  padding: 20px;
  border-radius: 5px;
  color: #4ca29a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin-right: 20px;
  margin-left: 30px;
}

.header div:last-child {
  margin-right: 0;
}

.content {
  margin-left: 10px;
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  overflow: auto;
}

.salary-component,
.employee-status,
.employee-composition {
  background-color: #edfbfe;
  color: #1e1e1e;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  margin: 10px;
}

.salary-component h3,
.employee-status h3,
.employee-composition h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bolder;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table,
th,
td {
  border-bottom: #ddd;
  padding: 8px;
}

th {
  color: #d62d20;
}

.table-responsive {
  max-height: 300px;
  /* Set the max height you want */
  overflow-y: auto;
  /* Enable vertical scrolling */
}

.table {
  width: 100%;
  /* Ensure the table takes full width */
}

.table th,
.table td {
  white-space: nowrap;
  /* Prevent text wrapping */
}

.chart {
  width: 100%;
  height: 220px;
}

#compositionChart,
#salaryChart {
  margin-top: 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: width 0.5s;
  /* Smooth transition for the sidebar width */
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s ease;
  /* Smooth transition for the main content shift */
  padding: 16px;
}